*,
html {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
}

body {
  height: 100vh;
}

.row {
  display: flex;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.ml {
  margin-left: 8px;
}

.job-application {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 0;
  width: 650px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
}

.btn {
  font-size: 12px;
  margin: 2rem auto;
  padding: 8px 16px;
  border-radius: 0.5rem;
}

.btn-close {
  border: 1px solid rgb(45, 45, 156);
}
.btn-add {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #00ff0d;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
  background: rgb(255, 255, 255);
}

.btn-delete {
  background: rgb(146, 51, 51);
}

.list {
  border: 1px solid rgba(33, 32, 34, 0.651);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin: 0 auto;
  padding: 24px;
  max-width: 100%;
}

.heading {
  text-align: center;
}

.modal {
  background-color: rgb(240, 240, 240);
  padding: 20px;
}


nav ul {
  list-style: none;
  display: flex;
  background-color: rgb(35, 195, 139);
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}